.container{
    background-color: rgb(240, 240, 240);
    height: 25rem;
    width: 22rem;
    position: relative;
    border-radius: 5%;
    
    

}

.container1{
    background-color: rgb(63, 63, 244);
    height: 8rem;
    width: 22rem;
    top: 0;
    position: absolute;
    border-radius: 8px 8px 0 0;
}

.round{
    position: absolute;
    padding-left: 40%;
    padding-top: 26%;
}
img {
  border-radius: 50%;
}

.container2{
    padding-top: 9rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

.container_round{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}

.button_bt{
    display: flex;
    justify-content:space-around;
   }

   button{
    color: white;
    background-color: rgb(48, 48, 234);
    border-radius: 10px;
    width: 5rem;
   }


   .foot{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
   
   }
   .foot1{
    display: flex;
    font-size: small;
    justify-content:space-around;
    padding-left: 10px;
    }

    .full{
        margin: 4%;
        padding-left: 18rem;
       
    }